@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans Linear B', sans-serif;
    margin-top: 4%;
}
header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 4px solid transparent; 
    border-image: linear-gradient(to top, rgba(211, 211, 211, 0.159), transparent); 
    border-image-slice: 1;
    z-index: 6;
}
main{
    width: 85%;
    margin-inline: auto;
    display: flex;

}
h3{
    margin-bottom: 0;
    margin-top: 10px;
}
.news h5{
    margin-top: 26px;
    margin-bottom: 10px;
}
h6{
    margin: 0;
}
.Titolo{
    display: flex;
    align-items: center;
    gap: 3%;
}
.piccolo{
    font-size: 0.65em;
}
.grigio{
    color: gray;
}
.bianco{
    background-color: white;
}
.wid100{
    width: 100%;
}
.size{
    font-size: 0.8em;
}
.pad3{
    padding-block: 3%;
}
.pad2{
    padding-block: 2%;
    padding-inline: 0;
}
.topbar{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto; 
}
.topbar  img{
    width: 75%;
    padding-block: 2.3%;
}
#logo{
    width: 20%;   
   }
.nav{
    display: flex;
    gap: 15px;
    align-items: center;
}
#Posta{
    background-color: orangered;
    color: white;
    border-radius: 50%;
    width: 9%;
    border-style: hidden;
}
 button{
    width: 100%;
    padding: 4px;
    padding-inline: 10px;
    border-radius: 20px;
    border-width: 0.8px;
}
.nav ion-icon{
    font-size: 1.8em;
}
.News{
    width: 66%;
    border-right: 0.2px solid #d3d3d3bf;
}
.Container{
    width: 92%;
}
.slide-bar{
    display: flex;
    border-bottom: solid rgba(211, 211, 211, 0.623) 1.2px;
    margin-top: 9.8%;
    margin-bottom: 7%;
}
.slide-bar {
    font-size: 0.75em;
}
#bold{
    border-bottom: solid black 1.2px;
    padding-bottom: 3%;
}
.News-Letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7%;
}
.PIPPO{
    width: 71%;
}
.img-news{
    width: 29%;
    max-height: 70%;
}
.img-news img{
    width: 100%;
    height: 70%;
}
.footer-news{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3px;
}
.lista{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}
.lista li:first-child{
    list-style-type: none;
    margin-left: 0;
}
.lista li{

    margin-inline:  10px;
}

.lista button{
    font-size: 0.8em;
    background-color: #e1dfdf;
    border-style: none;
}
.icon-footer{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
/* SEZIONE SINISTRA END */
/* SEZIONE DESTRA BGN */
.social{
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2{
    width: 85%;
    margin-left: 5%;
    margin-top: 10px;
    position: sticky;
}
.social-sticky{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid lightgrey 1px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons img{
    width: 12%;
}
.Twitter{
    color: #1DA1F2;
    font-size: 1.2em;
}
#bottoneT
{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
}
#bottoneT img{
    width: 20%;
}
.social-sticky button{
    width: 50%;
    border: gray solid 1px;
}
.bottoni{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}
.bottoni button{
    background-color: #F2F2F2;
    border: none;
    padding-inline: 0;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.facebook h5{
    margin-top: 7px;
    margin-bottom: 3px;
}
.facebook h5, .facebook p{
    padding-left: 7px;
}
.facebook img{
    width: 100%;
    border-radius: 50%;
    object-fit: fill;
}
.facebook-img{
    width: 13%;
}
.facebook-child{
    width: 50%;
}
.footer-facebook{
    display: flex;
    width: 100%;
}
#star{
    width: auto;
    color: gray;
}
.Facebook-Titolo h5{
    margin-top: 10px;
    margin-bottom: 5px;
}
.See-all{
    color: green;
    margin-bottom: 20%;
}
/* */

